@import url(components/navbar.css);
@import url(components/container.css);
@import url(components/button.css);
@import url(pages/dashboard.css);
@import url(pages/navigation.css);
@import url('https://fonts.cdnfonts.com/css/avenir');


* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
}
