.btn-dark {
  background-color: #012A8A;
  color: #FFFFFF;
  border-radius: 17px;
  padding: 0px 20px;
  width: 121px;
  height: 34px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Avenir';
}

.btn-light {
  color: #012A8A;
  background-color: rgba(1, 42, 138, 0.075);
  border-radius: 17px;
  padding: 0px 20px;
  width: 121px;
  height: 34px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Avenir';
}

.btn-transparent{
  background-color: white;
  border: none;
  color: #8E8E8E;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Avenir';
}

.btn-add-asset {
  background-color: #00C4FB;
  height: 40px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  width: 40px;
  font-size: 16px;
}

.btn-account{
  background-color: #012A8A;
  height: 40px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  width: 40px;
  font-size: 16px;
}

.btn-menu{
  background-color: #F2F2F7;
  height: 40px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: black;
  width: 40px;
  font-size: 20px;
}
