.container {
  margin: 0 auto;
  width: 100%;
}

.container-dashboard{
  margin: 0 auto;
  width: 100%;
}


/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
  .container-dashboard{
    max-width: 700px;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container{
    max-width: 1320px;
  }

  .container-dashboard{
    max-width: 850px;
  }
}
