.dashboard{
  border-bottom: 1px solid #E5E5EA;
  position: relative;
  padding: 0px 300px 0px 70px;
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  justify-content: space-around;
}

.dashboard-header-path{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header-path-detail{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.dashboard-header-path-detail i{
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #C7C7CC;
}

.dashboard-header-path-detail img{
  padding: 0 10px 0 0;
  height: 12px;
  width: 12px;
  color: #C7C7CC;
}

.dashboard-header-path-detail p {
  padding: 0 10px 0 0;
  color: #8E8E8E;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
}

.dashboard-header-path-actions button{
  padding: 0px 10px;
}

.dashboard-header-path-actions i {
  color: #C7C7CC;
  font-size: 16px;
}

.dashboard-header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}

.dashboard-header-main img{
  width: 52px;
  height: 52px;
  padding-right: 20px;
}

.dashboard-header-main-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-overview{
  background-color: rgba(1, 42, 138, 0.05);
  padding: 0px 300px 0px 70px;
}

.dashboard-overview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  padding: 30px 40px;
}

.dashboard-overview-grid div{
  background-color: white;
  text-align: center;
  font-size: 30px;
  height: 151px;
  border: 1px solid rgba(1, 42, 138, 0.03);
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.04), 0px 6px 16px -8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.dashboard-grid-item{
  grid-column: 1 / span 3;
  height: 457px!important;
}
