.dashboard {
  border-bottom: 1px solid #E5E5EA;
  position: relative;
}

.dashboard-header-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.dashboard-header-phone h1 {
  color: #012A8A;
  font-weight: 900;
  font-size: 32px;
}

.dashboard-header-phone-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.asset-performance {
  background-color: #EBF9F1;
  padding: 0px 8px;
  border-radius: 11px;
  color: #2E9D64;
  font-size: 14px;
}

.asset-performance-negative {
  background-color: #FBEFF2;
  padding: 0px 8px;
  border-radius: 11px;
  color: #C8395A;
  font-size: 14px;
}

.dashboard-header-phone-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dashboard-header-phone-menu p {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 0px 0px;
}

.dashboard-header-phone-menu-active {
  color: #012A8A;
}

.dashboard-header {
  padding: 30px 40px;
  display: none;
}

.dashboard-header-path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header-path-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-header-path-detail i {
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #C7C7CC;
}

.dashboard-header-path-detail img {
  padding: 0 10px 0 0;
  height: 12px;
  width: 12px;
  color: #C7C7CC;
}

.dashboard-header-path-detail p {
  padding: 0 10px 0 0;
  color: #8E8E8E;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
}

.dashboard-header-path-actions button {
  padding: 0px 10px;
}

.dashboard-header-path-actions i {
  color: #C7C7CC;
  font-size: 16px;
}

.dashboard-header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}

.dashboard-header-main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-header-main-title img {
  width: 52px;
  height: 52px;
  padding-right: 10px;
}

.dashboard-header-main-title-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  color: #3A3A3C;
  padding: 0 4px;
}

.dashboard-header-main-title-details p {
  padding-right: 4px;
}

.dashboard-header-main-title-details h2 {
  font-weight: 900;
  font-size: 24px;
  color: #1C1C1E;
}

.dashboard-overview {
  background-color: rgba(1, 42, 138, 0.05);
}

.dashboard-overview-phone {
  background-color: rgba(1, 42, 138, 0.05);
  padding-top: 20px;
}

.dashboard-overview-phone-content {
  background-color: white;
  text-align: center;
  font-size: 30px;
  height: 286.48px;
  border: 1px solid rgba(1, 42, 138, 0.03);
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.04), 0px 6px 16px -8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  margin: 0 15px 20px;
}

.dashboard-overview-phone-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFFFFF;
  align-items: center;
  padding-top: 20px;
}

.dashboard-overview-phone-footer p {
  font-weight: 500;
  font-size: 10px;
  color: #8E8E8E;
  align-items: center;
  padding-top: 6px;
}

.dashboard-overview-phone-footer i {
  font-size: 20px;
  padding: 6px 16px 0;
}

.dashboard-overview-phone-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-overview-grid {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  padding: 30px 40px;
}

.dashboard-overview-grid div {
  background-color: white;
  text-align: center;
  font-size: 30px;
  height: 151px;
  border: 1px solid rgba(1, 42, 138, 0.03);
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.04), 0px 6px 16px -8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.dashboard-grid-item {
  grid-column: 1 / span 3;
  height: 457px!important;
}

/* Smallest devices (phone, 320px and up) */
@media (min-width: 320px) {
  .dashboard-header-main-title{
    padding: 20px 0;
  }

  .dashboard-header-path-detail p, .dashboard-header-path-detail i {
    font-size: 14px;
    color: #48484A;
  }
}

/* Small devices (tablets vertical, 744px and up) */
@media (min-width: 744px) {

  .dashboard-overview-phone {
    display: none;
  }

  .dashboard-header-main-title {
    padding: 0;
  }
  .dashboard-header-phone {
    display: none;
  }

  .dashboard-header {
    display: block;
  }

  .dashboard-overview-grid {
    display: grid;
  }
}

/* Medium devices (tablets horizontal, 1024px and up) */
@media (min-width: 1024px) {
  .dashboard {
    padding: 0px 0px 0px 100px;
  }
  .dashboard-overview {
    padding: 0px 0px 0px 100px;
  }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .dashboard {
    padding: 0px 300px 0px 70px;
  }
  .dashboard-overview {
    padding: 0px 300px 0px 70px;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .dashboard {
    padding: 0px 300px 0px 70px;
  }
  .dashboard-overview {
    padding: 0px 300px 0px 70px;
  }
}
